:root {
    --main-font: 'Montserrat', sans-serif;;
    --light-font-color: #f5f5f5;
    --dark-font-color: #333333;
}

* {
    color: var(--dark-font-color);
}

body {
    background-image: url("./images/background-light.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: var(--main-font);
    height: 100vh;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100% - 6rem);
    min-width: calc(100% - 6rem);
    margin: 2rem;
}

header {
    height: clamp(80px, 15vw, 120px);
}

h1 {
    font-weight: 600;
}

main {
    height: clamp(350px, 40vh, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast {
    height: clamp(150px, 20vh, 300px);
}

main .weather-main {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .weather-details {
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main > div {
    border: 2px solid black;
}